root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
end_of_line = lf

# Enforce code style by making all stylistical choices and incorrect formatting an error
dotnet_analyzer_diagnostic.category-Style.severity = error

# Always use more readable switch statements
csharp_style_prefer_switch_expression = false

# Always use explicit types for readabiliy
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = false
csharp_style_var_elsewhere = false

# Because Rejuvena.Collate namespace generation is broken, disable namespace-folder matching
dotnet_style_namespace_match_folder = false
